
{% extends 'textiles/base.html' %}{% load static %}
{% block title %}Colour Plus{% endblock %}

{% block style %}
<style>
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}
</style>
{% endblock %}
{% block stylesheet %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block body %}

<div class="container">
        <table id="cart" class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th style="width:50%">Product</th>
                                <th style="width:10%">Price</th>
                                <th style="width:8%">Quantity</th>
                                <th style="width:22%" class="text-center">Subtotal</th>
                                <th style="width:10%"></th>
                            </tr>
                        </thead>
                        {% for order in cart %}
                        <tbody>
                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-sm-2 hidden-xs"><img src="{{image.image.url}}" alt="..." class="img-responsive"/></div>
                                        <div class="col-sm-10">
                                            <div class="container-fluid">
                                            <h4 class="nomargin">{{order.product.product_name}}</h4>
                                            <p></p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price">Rs {{order.product.price}}</td>
                                <td data-th="Quantity">
                                    <input type="number" class="form-control text-center" value="1">
                                </td>
                                <td data-th="Subtotal" class="text-center">{{order.product.price}}</td>
                                <td class="actions" data-th="">
                                    <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                                    <a class="btn btn-danger btn-sm" href='{% url "textiles:deleteorder" order.pk %}'>remove</a>			
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                        <tfoot>
                            
                            <tr>
                                <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                                <td colspan="2" class="hidden-xs"></td>
                                <td class="hidden-xs text-center"><strong>{{total}}</strong></td>
                                <td><a href="{% url "textiles:payment" %}" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
                            </tr>
                        </tfoot>
                    </table>
    </div>

{% block script %}

{% endblock %}


{% endblock body %}



-- <h1>success</h1>
{% for order in cart %}
{{order.product.product_name}} -  {{order.product.price}}<a href='{% url "textiles:deleteorder" order.pk %}'>remove</a><br>
{% endfor %}
<h3><a href='{% url "paytm:payment" %}'>Checkout - Rs {{total}}</a></h3> -->