{% extends 'textiles/base.html' %}{% load static %}
{% block title %}Colour Plus{% endblock %}

{% block style %}<style></style>{% endblock %}
{% block stylesheet %}

{% endblock %}
{% block body %}
<div class="container" style="padding-top: 15px;">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active"><a href="{% url "textiles:saree" %}">Saree</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group category_block">
                    <li class="list-group-item"><a href="category.html">Saree</a></li>
                    <li class="list-group-item"><a href="category.html">Lehenga</a></li>
                    <li class="list-group-item"><a href="category.html">Salwar Suits</a></li>
                    <li class="list-group-item"><a href="category.html">Tunics&Kurti</a></li>
                    <li class="list-group-item"><a href="category.html">Western</a></li>
                </ul>
            </div>
            <!-- <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase">Last product</div>
                <div class="card-body">
                    <img class="img-fluid" src="https://dummyimage.com/600x400/55595c/fff" />
                    <h5 class="card-title">Product title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="bloc_left_price">99.00 $</p>
                </div>
            </div> -->
        </div>
        <div class="col">
            <div class="row">
                {% for saree in object_list %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="{{image.image.url}}" alt="Card image cap">
                        <div class="card-body" style="padding: 0.60rem;">
                            <h4 class="card-title"><a href="{% url 'textiles:saree_detail' saree.id %}" title="View Product">{{saree.product_name}}</a></h4>
                            <p class="card-text">{{saree.product_detail}}</p>
                            <div class="row">
                                <div class="col">
                                    <p class="btn btn-danger btn-block">Rs {{saree.price}}</p>
                                </div>
                                <div class="col">
                                    <a href="#" class="btn btn-success btn-block">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
               



                <div class="col-12" style="padding-top: 50px;">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>



{% block script %}

{% endblock %}


{% endblock body %}




<!-- {% for saree in object_list %}

<h1><a href="{% url 'textiles:saree_detail' saree.id %}">{{saree.product_name}}</a></h1>

{% endfor %} -->